[project]
	description = Hello World!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ngtandung
[access "refs/for/refs/*"]
	read = group user/ngtandung
	push = group user/ngtandung
	label-Code-Review = -2..+2 group user/ngtandung
	label-Verified = -1..+1 group user/ngtandung
	rebase = group user/ngtandung
	removeReviewer = group user/ngtandung
	submit = group user/ngtandung
[access "refs/heads/*"]
	read = group user/ngtandung
	create = group user/ngtandung
	push = +force group user/ngtandung
	pushMerge = group user/ngtandung
[access "refs/tags/*"]
	push = group user/ngtandung
	push = +force group user/ngtandung
