[project]
	description = Hello World!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dung Nguyen (ngtandung)
[access "refs/for/refs/*"]
	read = group user/Dung Nguyen (ngtandung)
	push = group user/Dung Nguyen (ngtandung)
	label-Code-Review = -2..+2 group user/Dung Nguyen (ngtandung)
	label-Verified = -1..+1 group user/Dung Nguyen (ngtandung)
	rebase = group user/Dung Nguyen (ngtandung)
	removeReviewer = group user/Dung Nguyen (ngtandung)
	submit = group user/Dung Nguyen (ngtandung)
[access "refs/heads/*"]
	read = group user/Dung Nguyen (ngtandung)
	create = group user/Dung Nguyen (ngtandung)
	push = +force group user/Dung Nguyen (ngtandung)
	pushMerge = group user/Dung Nguyen (ngtandung)
[access "refs/tags/*"]
	push = group user/Dung Nguyen (ngtandung)
	push = +force group user/Dung Nguyen (ngtandung)
